@model IEnumerable<Test.Models.ProductModel>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<form asp-controller="ProductModels" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Search" />
    </p>
</form>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        <a href='@Url.Action("Details", "ProductModels", new { id = item.Id })' title="Details">
            <img src='@Url.Content("~/Content/Images/info.png")' />
        </a>
        <a href='@Url.Action("Delete", "ProductModels", new { id = item.Id })' title="Delete">
            <img src='@Url.Content("~/Content/Images/delete.png")' />
        </a>
    </td>
</tr>
}

</table>
