@model IEnumerable<Test.Models.CategoryModel>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name,"Edit", new { id=item.Id })
        </td>
        <td>
            <a href='@Url.Action("Details", "CategoryModels", new { id = item.Id })' title="Details">
                <img src='@Url.Content("~/Content/Images/info.png")' />
            </a>
            <a href='@Url.Action("Delete", "CategoryModels", new { id = item.Id })' title="Delete">
                <img src='@Url.Content("~/Content/Images/delete.png")' />
            </a>
        </td>
    </tr>
}

</table>
